
  
  .background-image-classes {
    position: absolute;
    width: 100%;
    height: 130%;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(2, 2, 2, 0.4)), url('./Images/backround.jpg');
    background-size: cover;
    z-index: -1;
  }
  
  .content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-top: 0%;
  }
  
  .classes-title {
    color: #fff;
    font-size: 3rem;
    margin-bottom: 1rem;
    padding-top: 1.5%;
    margin-top: 0;
  }
  
  .get-started-button {
    background-color: #c14c4c;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: white;
    font-size: xx-large;
    width: 420px; /* Adjust the width of the button */
    height: 100px; /* Adjust the height of the button */
    margin-top: 1rem;
    border-radius: 10px;
  }
  .get-started-button:hover {
    background-color: #000000;
  }
  
  .container {
    display: flex;
    width: 100%;
  }
  
  .section {
    flex: 1;
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    /* Add other styling properties as needed */
  }

  .sr-only {
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }