
.background-image-train {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 320%;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(2, 2, 2, 0.4)), url('./Images/backround.jpg');
  background-size: cover;
  z-index: -1;
}

.filtered-videos {
  flex: 0 0 60%;
  color: white;
}
.card4 {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  background: linear-gradient(#ffffff, #e66465);
  color: white;
  width: 250px; 
  height: 300px; 
}
.card5 {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  background-color:rgba(169, 169, 169, 0.8);
  color: white;
  width: 350px; 
  height:auto; 
  margin-top: 30px;
}
.card-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1; 
  border-radius: 5px;
}
.card-image {
  object-fit:fill;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1; 
  opacity: 0.8; 
  transition: opacity 0.3s ease; 
}

.card-image:hover::before {
  opacity: 1; 
}

.card4 h3 {
  margin: 10px 0;
}

.card4 p {
  margin-bottom: 5%;

}

.filtered-videos{
  margin-right: 10%;
  margin-left: 2%;
}

.card5-title {
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  background-color: #c14c4c;
  width: 100%;
  border-radius: 10px;
  padding-top: 1%;
  padding-bottom: 1%;
}

.search-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  background-color: #c14c4c;
  border-radius: 10px;
  padding-top: 1%;
  padding-bottom: 1%;
  color: white;
  text-align: center;
  justify-content: center;
  margin-top: 2%;
}

.training-search {
    flex: 0 0 10%;
    background-color:rgba(169, 169, 169, 0.8);
    padding-bottom: 1%;
    border-radius:4%;
    color: white;
    margin-top: 30px;
  }
  .search-option{
    text-align: center;
    justify-content: center;
  }
  
  .search-option label {
    align-items: center;
    margin-bottom: 8px;
    cursor: pointer;
    user-select: none;
    font-size: larger;
  }

 .collapsible {
  background-color: #c14c4c;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  
}

.collapsible::after {
  content: "\f078";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  top: 50%;
  right: 0.75rem;
  transform: translateY(-50%);
  border: 10px;
}

.collapsible.collapsed::after {
  content: "\f077"; 
  border: 10px;
}

.match-title {
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 30px;
  background-color: #c14c4c;
  width: 100%;
  height: 50%;
  border-radius: 10px;
  padding: 0.01%;
  padding-left: 10px;
}

.training-title {
  color: #ffffff;
  font-size: 3rem;
  padding-top: 6.5%;
  margin-top: 0;
  text-align: center;
  justify-content: center;
}

